# Ignore everything inside these folders...
.venv/*
checkpoints/*
__pycache__/
*.pyc
.rooignore
.claudeignore
.out
.log
.fls
.bbl
.aux
.fdb_latexmk
*.log
*.fls
*.bbl
*.aux
*.fdb_latexmk
*.nav
*.out
*.snm
*.toc
tmp/


# ...But force Git to track the hidden .gitkeep files
!.venv/.gitkeep
!checkpoints/.gitkeep
!results/.gitkeep
